:root {
    --color-primary: #4f46e5;
    /* indigo-600 */
    --color-primary-dark: #4338ca;
    /* indigo-700 */
    --color-text-gray: #6b7280;
    /* gray-500 */
    --color-background: #f9fafb;
    /* gray-50 */
    --color-card-bg: #ffffff;
    --color-border-light: #e0e7ff;
    /* indigo-100 */
    --spacing-md: 16px;
    --spacing-lg: 32px;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
    padding: var(--spacing-lg) var(--spacing-md);
}